body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

#ak_footer {
    border: 1px solid white;
}
#ak_home_con {
    height: 800px;
    width: 90%;
    margin: auto;
    margin-top: 60px;
}

#ak_top_card {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

#ak_top_card img {
    width: 100%;
    background: transparents;

}

#ak_top_card div {
    background-repeat: no-repeat;
    margin: auto;
    color: #FFFFFF;
    inset-block-end: 0;
    inset-inline-end: 0;
    inset-inline-start: 0;
    margin: 0;
    background: transparent;
    /* background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 1rem, rgba(0, 0, 0, 0.11) 2rem, rgba(0, 0, 0, 0.32) 3.1rem, rgba(0, 0, 0, 0.5) 4.625rem); */
}

/*  */
#ak_head h2 {
    color: #1F1F1F;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

#ak_featured_off {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-top: -15px;

}

.ak_box1 {
    background-image: url('https://forever.travel-assets.com/flex/flexmanager/images/2021/11/02/ORB_Storefront_LastMinute_imgB_900x600_20211101.jpg?impolicy=fcrop&w=900&h=600&q=mediumHigh');
    width: 100%;
    color: white;
    background-size: cover;
}

.ak_box2 {
    background-image: url('https://forever.travel-assets.com/flex/flexmanager/images/2021/11/02/ORB_Storefront_AllInclusive_imgB_900x600_20211101.jpg?impolicy=fcrop&w=900&h=600&q=mediumHigh');
    background-size: cover;
    color: white;
}

.ak_box3 {
    background-image: url('https://forever.travel-assets.com/flex/flexmanager/images/2021/11/02/ORB_Storefront_MOD_imgB_900x600_20211101.jpg?impolicy=fcrop&w=900&h=600&q=mediumHigh');
    color: white;
    background-size: cover;
}

.ak_box4 {
    background-image: url('https://forever.travel-assets.com/flex/flexmanager/images/2021/11/02/ORB_Storefront_JetAndReset_imgB_900x600_20211101.jpg?impolicy=fcrop&w=900&h=600&q=mediumHigh');
    background-size: cover;
    color: white;
}

#ak_featured_off h2 {
    margin-top: 110px;
    margin-left: 20px;
    font-size: 1.75rem;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

#ak_featured_off p {
    margin-top: -10px;
    margin-left: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

/*  */

#ak_middle_card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#ak_middle_card p {
    font-size: 12px;
    color: #787878;
    margin-left: 4px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin-top: 0px;
}

#ak_middle_card h4 {
    margin-left: 4px;
    line-height: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

#ak_middle_card>div {
    display: flex;
    background-color: #ffffff;
    justify-content: space-between;
    border: 1px solid rgb(112, 112, 112);
}

#ak_middle_card img {
    width: 30%;
    margin-top: 10px;
    margin-right: 10px;
}

.ak_middile_child:hover {
    cursor: pointer;
}

.ak_middile_child>div:nth-child(2) {
    width: 16%;
    text-align: right;
}

.ak_middile_child>div:nth-child(1) {
    width: 83%;
    text-align: left;
    padding: 5px;
}

/*  */

#ak_travel_div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}


#ak_travel_child1 {
    height: 240px;
    background-size: cover;
    background-image: url('https://forever.travel-assets.com/flex/flexmanager/images/2021/11/18/ORB_Blog_NationalParks_imgB_1199x399_20211117.jpg');
    background-color: rgb(75, 75, 75);
    color: white;
    background-blend-mode: overlay;
}

#ak_travel_child2 {
    color: white;
    height: 240px;
    background-size: cover;
    background-image: url('https://forever.travel-assets.com/flex/flexmanager/images/2021/11/18/ORB_Blog_RoadTrips_imgB_1199x399_20211117.jpg');
    background-color: rgb(75, 75, 75);
    background-blend-mode: overlay;
}

.ak_btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: white;
    color: rgb(88, 143, 161);
    font-size: 15px;
    font-weight: bolder;
}

.ak_btn:hover {
    background-color: rgb(198, 241, 255);
    color: rgb(75, 73, 73);
}

#ak_travel_div h2,
#ak_travel_div p {
    margin-left: 15px;
    line-height: 15px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

/*  */

#ak_rewards_img_div>img {
    width: 350px;
    height: 350px;
    object-fit: cover;
}

#ak_rewards {
    display: flex;
    margin: auto;
    margin-top: 100px;
    background-color: white;
    border: 1px solid rgb(128, 128, 128);
}

#ak_rewards_child2 {
    margin: 0px 10px;
}

.ak_selAndno {
    display: flex;
}

.ak_selAndno>div {
    margin: 0px 10px;
}

.ak_selAndno select,
.ak_selAndno input {
    padding: 10px;
    font-size: 15px;
}

#ak_rewards_btn {
    width: 150px;
    height: 43px;
    border: none;
    font-size: 18px;
    background-color: #c83258;
    color: white;
}

#ak_rewards_btn:hover {
    cursor: pointer;
    background-color: green;

}

#ak_bar_code_img>img {
    margin-top: 60px;
    width: 160px;
}

#ak_rewards li,
#ak_rewards p,
#ak_rewards h4,
#ak_rewards h3,
#ak_rewards h2 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

#ak_rewards p {
    font-size: 13px;
}

#ak_rewards li {
    font-size: 15px;
    color: #5b5b5b;
    line-height: 35px;
}

#ak_scan_the_qr {
    margin-left: 15px;
    margin-top: -0px;
}

/*  */

.flex_div {
    display: flex;
}

.flex_div select {
    outline: none;
    border: none;

}

.flex_div option {
    font-weight: lighter;
}

.flex_div select {
    padding: 15px 5px;
    width: 370px;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.flex_div div {
    margin: 10px;
}

#ak_more_des {
    margin: auto;
}



/* ****************************** */


*{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
#ak_bg_img{
    background: white;
    background-repeat: no-repeat;
    background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/01/ORB_Storefront_6_imgB_1400x600_20211028.jpg?impolicy=fcrop&w=900&h=506&q=mediumHigh");
    max-width: 100%;
    height: 350px;
    background-size: 100% 500px;
    padding-top: 25px;
}
#search-box{
    background-color: #FFFFFF;
    height: 300px;
    width: 90%;
    margin: auto;
    box-shadow: 0px 1px 15px 1px #7a7a7a;
    padding-top:15px;
}
#travel-category{
    margin: auto;
    max-width: 92%;
    text-align: center;
}
#travel-category>ul{
    margin: auto;
    margin-top: 10px;
    max-width: 50%;
    line-height: 30px;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
#travel-category li{
    cursor: pointer;
}
#travel-category p{
    text-decoration: none;
    color: #616161;
    font-size: 14px;
    font-weight: 700;
}
#travel-category p:hover{
    color: #187e93;

}

form{
    margin: auto;
    max-width: 90%;
    height: 250px;
    margin-top: -10px;
}
#input-section{
    margin-top: 20px;
    display: flex;
    color: #777575;
}
#select-Cont, .date{
    margin: 7px;
    height: 42px;
    text-align: start;
    background-color: #FFFFFF;
    border: 1px solid #999999;
    cursor: pointer;
}
#ak_trv_child2 p{
    font-size: 11px;
}
#travelers{
    border: 1px solid #999999;
    margin: 7px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    cursor: pointer;
}
#select-Cont{
    min-width: 40%;
}
.date{
    width: 15%;
    display: flex;
    align-items: center;
    cursor: default;
}
.date>div, #travelers>div{
    line-height: 3px;
}
.date>div>input{
    border: none;
    margin-top: -10px;
    cursor: pointer;
}
.date>i, #travelers>i{
    width: 15%;
    margin-left: 8px;
}
.date>div>p, #travelers>div>p, #counters{
    font-size:small;
    letter-spacing: 0.5px;
}
#travelers{
    width: 23%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 25px;
    cursor: default;
}
#travelers>div>div{
    display: flex;
}
#counters>div{
    margin-top: 4px;
    display: flex;

}

#counters p{
    margin-top: 0px;
    font-size: 15px;
    font-weight: 500;
    color: black;
}

#checkbox>input:last-child{
    margin-left: 20px;
}
#checkbox{
    margin-top: 10px;
}
#checkbox>input{
    cursor: pointer;
}

#search-btn{
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
}

#search-btn>input{
    background-color: #C83259;
    color: #FFFFFF;
    border-radius: 2px;
    width: 15%;
    font-size: 16px;
    min-height: 45px;
    cursor: pointer;
    font-weight: 600;
    border: none;
}
#search-btn>input:hover{
    background-color: #cc5171;
}
#select-Cont::placeholder{
   padding: 25px;
}

#ak_hr_line{
    margin-top: -5px;
    border-top: 1px solid rgb(166, 166, 166);
}
/* for underlining */
.ak_animation {
    display: inline-block;
    position: relative;
  }
  .ak_animation:after {
    content: "";
    position: absolute;
    width: 140%;
    transform: scaleX(0);
    height: 2.5px;
    bottom: -9px;
    left: -6px;
    background-color: #6e919e;
    /* color: #000000; */
    transform-origin: center;
    transition: transform 0.05s ease-out;
  }
  .ak_animation:hover:after {
    transform: scaleX(1);
  }
  




/*  */

/* #ak_form_stays{
    border: 1px solid red;
} */

#ak_form_flight{
    display: none;
    border: 1px solid green;

}