body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  background-color: rgb(227, 227, 227);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(198, 198, 198);
  border-radius: 1rem;
  border: 5px solid transparent;
  background-clip: content-box;
}

/* content */
#body {
  /* border: 1px solid red; */
  width: 80vw;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}

/* main */
#main {
  width: 67vw;
  height: auto;
  /* border: 1px solid blue; */
}

/* search */
#search {
  /* border: 1px solid black; */
  width: 100%;
  height: 6vh;
  display: flex;
  margin-top: 1%;
}

/* searchinput */
#travelers {
  font-size: 15px;
  padding-top: 4px;
}
#searchinput {
  width: 33%;
  border: 1px solid black;
  height: 40px;
  box-sizing: border-box;
  display: flex;
}

.icons {
  width: 14%;
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.labels {
  color: gray;
  font-size: 12px;
}

#destidetail {
  width: 86%;
  height: 100%;
  /* border: 1px solid black; */
  padding: 0 5%;
}

#destidetail:hover {
  cursor: pointer;
}

#destidetail > label {
  margin: 0;
  /* border: 1px solid red; */
}

#destiname {
  /* border: 1px solid red; */
  width: 100%;
  height: 40%;
  box-sizing: border-box;
  font-size: 12px;
}

#hotelsearchdiv {
  position: absolute;
  /* border: 1px solid red; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 19vw;
  height: 400px;
  top: 10.5%;
  left: 13%;
  background-color: #fff;
  border-radius: 10px;
  visibility: hidden;
  z-index: 30;
  overflow: hidden;
}

#inputdiv {
  width: 100%;
  border-bottom: 1px solid black;
  height: 11%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#inputdiv > input {
  width: 80%;
  height: 70%;
  outline: none;
  border: none;
  margin-right: 2%;
}

#inputdiv > button {
  width: 10%;
  height: 100%;
  border: none;
  background-color: #fff;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
#inputdiv > button > div {
  /* border: 1px solid red; */
  height: 40%;
  width: 100%;
  border-radius: 50%;
  background-color: rgb(231, 231, 231);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

/* datepicker and search btn*/
#datepicker {
  width: 66%;
  height: 100%;
  display: flex;
  /* border: 1px solid black; */
  box-sizing: border-box;
  margin-left: 1%;
  justify-content: space-around;
}

#datepicker1 {
  width: 25%;
  border: 1px solid black;
  height: 40px;
  box-sizing: border-box;
  display: flex;
}

#datepicker2 {
  width: 25%;
  border: 1px solid black;
  height: 40px;
  box-sizing: border-box;
  display: flex;
}

.destidetail {
  box-sizing: border-box;
  /* border: 1px solid blue; */
  width: 80%;
  height: 100%;
}
.labels {
  /* border: 1px solid red; */
  margin: 0;
}

/* date */

.date {
  width: 100%;
  height: 40%;
  font-size: 12px;
  border: none;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

.travelers {
  width: 25%;
  border: 1px solid black;
  height: 40px;
  box-sizing: border-box;
  display: flex;
}
.searchbtn {
  width: 18%;
  height: 40px;
  /* border: 1px solid red; */
  background-color: #c83259;
}
#datepicker .labels {
  margin-bottom: -7px;
}
.searchbtn > button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #c83259;
  color: white;
  font-size: 16px;
}

.datepicker_icons {
  /* border: 1px solid blue; */
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* hoteldiv */

#hoteldiv {
  width: 100%;
  height: auto;
  /* border: 1px solid red; */
  margin-top: 2%;
  box-sizing: border-box;
  display: flex;
}

/* sidediv */

#sidediv {
  width: 20vw;
  /* border: 1px solid blue; */
  height: auto;
}

#sidediv > :nth-child(1) {
  width: 90%;
  height: 200px;
  border: 1px solid black;
  margin-bottom: 5%;
}

#map {
  width: 100%;
  /* border: 1px solid red; */
  height: 150px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

#map > img {
  width: 100%;
}

#viewinmap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(85, 202, 206);
  /* border: 1px solid red; */
  height: 48px;
  box-sizing: border-box;
}

#viewinmap > p:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* property */
#property {
  width: 90%;
  height: 100px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

#property > h5 {
  font-size: 18px;
}

#property > div {
  width: 100%;
  height: 40px;
  border: 1px solid black;
  display: flex;
  align-items: center;
}

#searchicon {
  height: 100%;
  width: 20%;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

#searchicon + p {
  margin: 0;
}

/* filter */

#filter > p {
  font-size: 15px;
  font-weight: 600;
}

input[type="checkbox"] {
  margin: 0 3%;
}

/* price per night */

#grating {
  width: 90%;
  height: 170px;
  /* border: 1px solid red; */
  margin-top: 10%;
}

.heading {
  font-size: 18px;
  font-weight: 600;
}

#grating > div {
  width: 100%;
  height: 120px;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* starrating */

#starrating {
  width: 90%;
  height: 120px;
  /* border: 1px solid red; */
  margin: 10% 0;
}

#starrating > div {
  display: flex;
  flex-wrap: wrap;
}
.stars {
  width: 30%;
  border: 1px solid black;
  height: 30%;
  text-align: center;
  margin: 1%;
  border-radius: 5px;
}

/* payment type */

#propertytype {
  margin: 10% 0;
}

#experience {
  margin-bottom: 10%;
}

#see {
  font-size: 14px;
  text-decoration: underline;
  color: rgb(85, 202, 206);
  margin-left: 4%;
  margin-top: 10%;
}

/* hotelcontent */
#hotelcontent {
  width: 60vw;
  /* border: 1px solid blue; */
  height: auto;
}

/* 
sorting */

#sorting {
  width: 100%;
  height: 3vw;
  /* border: 1px solid red; */
  display: flex;
}

#properties {
  /* border: 1px solid blue; */
  width: 60%;
  height: 100%;
  box-sizing: border-box;
}

#properties > :nth-child(1) {
  margin: 0;
  height: 50%;
  /* border: 1px solid green; */
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  font-weight: 700;
}

#properties > :nth-child(2) {
  margin: 0;
  height: 50%;
  /* border: 1px solid green; */
  font-size: 1rem;
  font-weight: 500;
}

#sortingselect {
  /* border: 1px solid red; */
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sortingselect > div {
  border: 2px solid rgb(18, 130, 178);

  width: 95%;
  height: 95%;
  padding-left: 2%;
}

#sortingselect > div > label {
  font-size: 12px;
  width: 98%;
}

#sortingselect > div > select {
  width: 98%;
  border: none;
  outline: none;
}

/* displayhotels */
#displayhotels {
  width: 100%;
  height: auto;
  /* border: 1px solid red; */
}

.hotelmaindiv {
  width: 100%;
  height: 190px;
  /* border: 1px solid blue; */
  display: flex;
  margin-top: 2%;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 1%;
}

.hotelmaindiv:hover {
  transform: scale(1.01);
  cursor: pointer;
  border: 1px solid rgb(18, 130, 178);
}

.div1 {
  width: 32%;
  /* border: 1px solid green; */
  height: 100%;
  box-sizing: border-box;
}

.hotelimg {
  width: 100%;
  height: 100%;
}

.div2 {
  width: 68%;
  height: 100%;
  /* border: 1px solid green; */
  box-sizing: border-box;
}

.hotelname {
  width: 100%;
  height: 50%;
  /* border: 1px solid yellow;   */
  padding: 0 10px;
}

.hoteldetails {
  display: flex;
  justify-content: space-between;
}

.hoteldetails > :nth-child(1) {
  width: 50%;
  height: 92px;
  /* background-color: rgb(183, 240, 238); */
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  padding: 0 10px;
}

.payment_type {
  margin: 0;
  margin-top: 5px;
  font-size: 14px;
  color: rgb(85, 202, 206);
  /* border: 1px solid red; */
}

.reviews {
  margin-bottom: 10%;
  font-size: 14px;
  /* border: 1px solid red; */
  color: rgb(137, 65, 17);
}

.hoteldetails > :nth-child(2) {
  /* border: 1px solid rgb(0, 0, 0); */
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
  align-items: flex-end;
  padding: 0 5%;
}

.hotelnameh3 {
  font-size: 21px;
}

.hoteladdressp {
  font-size: 13px;
}

.discount {
  margin: 0;
  /* border: 1px solid red; */
  width: auto;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: green;
  color: white;
  padding: 0 10px;
  border-radius: 3px;
}

#price {
  margin: 0;
  /* border: 1px solid red; */
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 0;
}

/* ads div */
#ads {
  width: 11vw;
  /* border: 1px solid rgb(0, 238, 255); */
  height: 100%;
}

#ads > div {
  /* border: 1px solid red; */
  height: 78vh;
  margin-top: 10%;
  width: 95%;
}
.adsimg {
  width: 100%;
  height: 100%;
}

/* barcode */

#barcode {
  display: flex;
  width: 77%;
  margin: auto;
  border: 1px solid rgb(216, 216, 216);
  overflow: hidden;
  margin-top: 80px;
  margin-bottom: 80px;
}
