
#navbar{
    width: 100%;
    height: 9vh;
    background-color: rgb(0,37,60);
    display: flex;
    padding: 0px 10%;
    justify-content: space-between;
    box-sizing: border-box;
}

#logonddrpdn{
    /* border: 1px solid red; */
    width: 20vw;
    display: flex;
    
}

#logo{
    width: 12vw;
    /* border: 1px solid white; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right,rgb(2, 43, 69),rgb(85, 157, 158),rgb(174, 211, 214),rgb(226,253,255),rgb(211, 247, 249),rgb(161, 202, 205),rgb(85, 157, 158),rgb(2, 43, 69));
}

#logo:hover{
    cursor: pointer;
    
}
#logo>img{
width: 4.5vw;
height: 8vh;
border-radius: 50%;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#drpdwn{
    width: 44%;
    /* border: 1px solid white; */
    height: 100%;
    display: flex;
align-items: center;
}

#drpdwn>button{
    width: 100%;
    height: 50%;
    background-color: rgb(0,37,60);
    border: none;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#drpdwn>button:hover{
    cursor: pointer;
}

#drpdwn>button>:nth-child(1){
    font-size: 1vw;
}
#drpdwn>button>:nth-child(2){
    transform: rotate(270deg);
    font-size: 1vw;
    
}

#navigate{
    /* border: 1px solid red; */
    width: 34%;
    display: flex;
    justify-content: space-between;
}
#navigate>div{
 /* border: 1px solid white; */
 height: 100%;
 width: auto;
 box-sizing: border-box;
 color: white;
 padding: 0px 1.5%;
 display: flex;
 justify-content: center;
 align-items: center;
}

#navigate>div>p{
font-size: 1vw;
font-weight: 500;
}
#navigate>div>p:hover{
    color: rgb(47, 113, 205);
    cursor: pointer;
}

