.spinner {
  /* Spinner size and color */
  width: 1.5rem;
  height: 1.5rem;
  border-top-color: #a4eaef;
  border-left-color: #a4eaef;
  /* border-top-color: white;
  border-left-color: white; */

  /* Additional spinner styles */
  animation: spinner 400ms linear infinite;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  position: fixed;
  top: 50vh;
  left: 48vw;
  visibility: hidden;
}

/* Animation styles */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Optional — create your own variations! */
.spinner-large {
  width: 5rem;
  height: 5rem;
  border-width: 6px;
}

/* .spinner-slow {
    animation: spinner 1s linear infinite;
  }
  
  .spinner-blue {
    border-top-color: #09d;
    border-left-color: #09d;
  } */
