body {
  margin: 0px;
}

#ak_logo_div {
  display: flex;
  align-items: center;
  border: 1px solid rgb(203, 203, 203);
}

#ak_logo_div img {
  width: 120px;
  margin-left: 42%;
}

#ak_logo_div a {
  margin-left: 1%;
}

.text {
  display: flex;
  font-weight: 700;
  line-height: 2rem;
  font-size: 1.75rem;
  color: #1f1f1f;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  margin-top: 20px;
}

#ak_signUp_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

#ak_signup {
  width: 30%;
  margin: auto;
}

#ak_login_text p {
  font-size: 0.875rem;
  font-family: "Centra No1", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1rem;
  font-weight: 400;
  color: #616161;
}
#ak_login_text a {
  margin-left: 10px;
  font-size: 15px;
  text-decoration: none;
}
#ak_login_text a:hover {
  text-decoration: underline;
}
.ak_text {
  margin-top: -20px;
}

.ak_text p {
  font-size: 14px;
  color: rgb(97, 97, 97);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

.ak_text a {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  color: rgb(9, 108, 136);
  text-decoration: none;
  letter-spacing: normal;
}

.ak_text a:hover {
  text-decoration: underline;
}

form input {
  padding-left: 10px;
  box-sizing: border-box;
  margin-bottom: 25px;
  height: 45px;
}

#ak_signup_btn {
  background-color: rgb(200, 50, 89);
  border: none;
  font-size: 1rem;
  line-height: 1.25rem;
  min-block-size: 3rem;
  padding: 0.25rem 1rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
}
#ak_password_check p {
  margin-left: 20px;
  margin-top: -15px;
  color: red;
  fill: red;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}
#ak_password_check svg {
  width: 2%;
  display: inline;
}
::placeholder {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}
#imglogo {
  width: 100%;
  align-items: left;
  text-align: left;
  display: flex;
  align-items: center;
}

#imglogo img {
  width: 40px;
  margin-left: 10px;
}