* {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  color: rgb(66, 64, 64);
  /* background-color: #e2fdff; */
}
body {
  background-color: #e2fdff;
}
div {
  /* border: 1px solid; */
  /* margin: auto; */
  text-align: center;
  /* background-color: white; */
}
#error {
  height: 50px;
  border: 1px solid red;
  width: 90%;
  margin-bottom: 10px;
  background-color: #ff3860;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  /* visibility: hidden; */
  display: none;
}
div > img {
  width: 8%;
}
form {
  width: 30%;
  background-color: white;
  /* height: 400px; */
  /* border: 1px solid; */
  margin: auto;
  padding-left: 30px;
  /* justify-content: center; */
  /* align-items: center; */
  padding-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  width: 90%;
  margin: 10px 0px;
  border: 1px solid;
  border-color: rgb(236, 230, 230);
}

a {
  color: rgb(40, 40, 238);
}
p,
h1 {
  text-align: center;
  width: 90%;
}
h1 {
  margin-bottom: 30px;
}
